# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
athena/api/aeries_api/auth.ini
athena/api/google_api/key.json
/athena/api/__pycache__
/athena/api/google_api/__pycache__
/athena/utils/__pycache__
/athena/utils/data_utils/__pycache__
/athena/__pycache__
/athena/__pycache__
.env
/.venv
/athena/scripts/__pycache__
/files
/athena/api/aeries_api/__pycache__
/athena/api/aeries_api/__pycache__
